{% extends 'base.html' %} 
{% load static %} 
{% block extra_title %} | Profile{%endblock %} 
{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Details Form -->
        <div class="col-12 col-md-6">
            <div class="container-fluid text-center">
                <h2 class="mt-2">Details</h2>
                <hr class="w-50"/>
            </div>
            <div class="container-fluid">
                <p class="pl-3"><strong>Username: </strong>{{ profile.user.username }}</p>
                <p class="pl-3"><strong>Email: </strong>{{ profile.user.email }}</p>
                <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="row d-flex justify-content-center">
                        <button class="btn btn-dark my-2">
                            Update Details
                            <span class="icon">
                                <i class="fas fa-rotate"></i>
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Order History -->
        <div class="col-12 col-md-6">
            <div class="container-fluid text-center">
                <h2 class="mt-2">Order History</h2>
                <hr class="w-50 d-none d-sm-block"/>
            </div>
            <div class="container-fluid order-history">
                {% if orders %}
                <div class="row mb-2">
                    <div class="d-none d-sm-block col-sm-6 text-center">
                        <strong>Order Number</strong>
                    </div>
                    <div class="d-none d-sm-block col-sm-3 text-center">
                        <strong>Date</strong>
                    </div>
                    <div class="d-none d-sm-block col-sm-3 text-center">
                        <strong>Total</strong>
                    </div>
                </div>
                {% for order in orders %}
                <hr class="w-50"/>
                <div class="order-line">
                    <div class="row mb-2">
                        <div class="col-12 col-sm-6 word-wrap text-center p-1">
                            <small>
                                <strong class="d-sm-none">Order Number:</strong> 
                                <a href="#" class="detail-toggle">{{ order.order_number }}</a>
                            </small>
                        </div>
                        <div class="col-6 col-sm-3 text-center p-1 d-flex justify-content-center align-items-center">
                            <small>
                                <strong class="d-sm-none">Date:</strong> 
                                {{ order.date|date:'d/m/Y' }}
                            </small>
                        </div>
                        <div class="col-6 col-sm-3 text-center p-1 d-flex justify-content-center align-items-center">
                            <small>
                                <strong class="d-sm-none">Total:</strong> 
                                <strong>£{{ order.total }}</strong>
                            </small>
                        </div>
                    </div>
                    <div class="row order-details hidden">
                        {% for item in order.lineitems.all %}
                        <div class="col-4 text-center p-1 d-flex justify-content-center align-items-center">
                            <small>
                                {{ item.product.name }}
                            </small>
                        </div>
                        <div class="col-4 text-center p-1 d-flex justify-content-center align-items-center">
                            <small>
                                {{ item.quantity }} @ £{{ item.product.price|floatformat:2 }}
                            </small>
                        </div>
                        <div class="col-4 text-center p-1 d-flex justify-content-center align-items-center">
                            <small>
                                £{{ item.line_total|floatformat:2 }}
                            </small>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p>No order history.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2">
            <div class="container-fluid text-center">
                <h2 class="mt-2">Wish List</h2>
                <hr class="w-50"/>
            </div> 
            <div class="row">
                {% for wish in wish_list %}
                <div class="product-container col-12 col-sm-6 col-md-4 col-lg-3 my-1">
                    <div class="product-buttons">
                        <div class="wish-list">
                            <a class="icon liked" href="{% url 'wish_list' wish.product.id %}">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                        </div>
                        {% if request.user.is_superuser %}
                        <div class="edit">
                            <a class="icon" href="">
                                <i class="fa-solid fa-pen"></i>
                            </a>
                        </div>
                        <div class="delete">
                            <a class="icon" href="">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="card product-card border-0 text-center pb-3 px-3">
                        <a href="{% url 'product_detail' wish.product.id %}" class="product-link">
                            <div class="card image-card border-0">
                                {% if wish.product.image %}
                                <img src="{{ MEDIA_URL }}{{ wish.product.image }}" alt="{{ wish.product.name }}" class="p-4">
                                {% else %}
                                <img src="{{ MEDIA_URL }}noimage.png" alt="{{ wish.product.name }}" class="p-4">
                                {% endif %}
                            </div>
                            <div class="product-text">
                                <h5 class="mb-1">{{ wish.product.name }}</h5>
                                <p class="mb-1">£{{ wish.product.price|floatformat:2 }}</p>
                            </div>
                        </a>
                        <div class="category-links">
                            <span>
                                <a href="{% url 'products' %}?category={{ wish.product.sub_category.category.name }}">
                                    {{ wish.product.sub_category.category.friendly_name }}
                                </a> / 
                                <a href="{% url 'products' %}?sub_category={{ wish.product.sub_category.name }}">
                                    {{ wish.product.sub_category.friendly_name }}
                                </a>
                            </span>
                            {% if wish.product.brand %}
                            <a href="{% url 'products' %}?brand={{ wish.product.brand.name }}">
                                <span class="icon">
                                    <i class="fa-solid fa-tags"></i>
                                </span>
                                {{ wish.product.brand.friendly_name }}
                            </a>
                            {% else %}
                            <span>&nbsp;</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="col-12 d-flex flex-column align-items-center justify-content-center">
                    <p>You have no items in your wish list.</p>
                    <a href="{% url 'products' %}" class="btn btn-accent my-2">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        All Products
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'profiles/js/country_field.js' %}"></script>
{% endblock %}