{% extends 'base.html' %} 
{% load static %} 
{% block extra_title %} | Order Complete{%endblock %} 
{% block content %}
<div class="container-fluid basket-items">
    <div class="row mb-2">
        <div class="container-fluid text-center">
            <h2 class="mt-2">Order Complete</h2>
            <hr class="w-50"/>
            <p>Thank you for your order, please see order summary below. A confirmation email will be sent to <strong>{{ order.email }}.</strong></p>
        </div>     
        <!-- Details summary -->
        <div class="col-12 col-md-6 order-md-2">
            <div class="container-fluid text-center">
                <h3 class="mt-2">Details</h3>
                <hr class="w-50"/>
            </div>  
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-12 col-sm-4">
                        <p class="m-0"><strong>Order Number: </strong></p>
                    </div>
                    <div class="col-12 col-sm-8">
                        <p class="m-0 word-wrap">{{ order.order_number }}</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12 col-sm-4">
                        <p class="m-0"><strong>Order Date: </strong></p>
                    </div>
                    <div class="col-12 col-sm-8">
                        <p class="m-0">{{ order.date }}</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12 col-sm-4">
                        <p class="m-0"><strong>Name: </strong></p>
                    </div>
                    <div class="col-12 col-sm-8">
                        <p class="m-0">{{ order.first_name }} {{ order.last_name }}</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12 col-sm-4">
                        <p class="m-0"><strong>Email: </strong></p>
                    </div>
                    <div class="col-12 col-sm-8">
                        <p class="m-0">{{ order.email }}</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12 col-sm-4">
                        <p class="m-0"><strong>Phone Number: </strong></p>
                    </div>
                    <div class="col-12 col-sm-8">
                        <p class="m-0">{{ order.phone_number }}</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12 col-sm-4">
                        <p class="m-0"><strong>Address: </strong></p>
                    </div>
                    <div class="col-12 col-sm-8">
                        <p class="m-0">{{ order.street_address_1 }}</p>
                        {% if order.street_address_2 %}
                        <p class="m-0">{{ order.street_address_2 }}</p>
                        {% endif %}
                        <p class="m-0">{{ order.town_or_city }}</p>
                        {% if order.county %}
                        <p class="m-0">{{ order.county }}</p>
                        {% endif %}
                        <p class="m-0">{{ order.country }}</p>
                        <p class="m-0">{{ order.postcode }}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Order Summary -->
        <div class="col-12 col-md-6 order-md-1">
            <div class="container-fluid text-center">
                <h3 class="mt-2">Summary</h3>
                <hr class="w-50"/>
            </div>
            {% for item in order.lineitems.all %}
            <div class="row mb-3">
                <!-- image -->
                <div class="col-6 col-sm-4 d-flex align-items-center justify-content-center">
                    <a href="{% url 'product_detail' item.product.id %}" class="img-container">
                        {% if item.product.image %}
                        <img src="{{ MEDIA_URL }}{{ item.product.image }}" alt="{{ item.product.name }}"/>
                        {% else %}
                        <img src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}" />
                        {% endif %}
                    </a>
                </div>
                <!-- product name and brand -->
                <div class="col-6 col-sm-4 d-flex flex-column align-items-center justify-content-center">
                    <a href="{% url 'product_detail' item.product.id %}">
                        {{ item.product.name }}
                    </a>
                    <a href="{% url 'products' %}?brand={{ product.brand.name }}">
                        <span class="icon">
                            <i class="fa-solid fa-tags"></i>
                        </span>
                        {{ item.product.brand.friendly_name }}
                    </a>
                </div>
                <!-- quantity and individual price on xs screens -->
                <div class="col-6 d-flex d-sm-none flex-column text-center align-items-center justify-content-center py-1">
                    <small>{{ item.quantity }} @ £{{ item.product.price }}</small>
                </div>
                <!-- line price -->
                <div class="col-6 col-sm-4 d-flex flex-column align-items-center justify-content-center">
                    <small class="d-none d-sm-block">{{ item.quantity }} @ £{{ item.product.price }}</small>
                    <span class="line-price">
                        £{{ item.line_total | floatformat:2 }}
                    </span>
                </div>
            </div>
            <hr class="w-50"/>
            {% endfor %}
            <div class="row mb-3 d-flex flex-row-reverse">
                <div class="col-6 col-md-4 d-flex align-items-center justify-content-center font-weight-bold">
                    Total: £{{ order.total }}
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <a href="{% url 'products' %}" class="btn btn-accent my-2">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        Continue Shopping
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}