{% extends 'base.html' %} 
{% load static %} 
{% block extra_title %} | Basket{%endblock %} 
{% block page_header %}
<div class="container-fluid text-center">
    <h2 class="mt-2">Basket</h2>
    <hr class="w-50">
</div>
{% endblock %}
{% block content %}
<div class="container-fluid basket-items">
    {% if basket_items|length > 0 %}
    {% for item in basket_items %}
    <div class="row mb-3">
        <!-- image -->
        <div class="col-6 col-md-3 d-flex align-items-center justify-content-center order-md-1">
            <a href="{% url 'product_detail' item.product.id %}" class="img-container">
                {% if item.product.image %}
                <img src="{{ MEDIA_URL }}{{ item.product.image }}" alt="{{ item.product.name }}"/>
                {% else %}
                <img src="{{ MEDIA_URL }}noimage.webp" alt="{{ item.product.name }}" />
                {% endif %}
            </a>
        </div>
        <!-- quantity buttons -->
        <div class="col-6 col-md-3 d-flex align-items-center justify-content-center order-md-3 px-1">
            <form action="{% url 'update_basket' item.item_id %}" method="POST" class="form update-form">
                {% csrf_token %}
                <div class="input-group justify-content-center">
                    <div class="qty-group my-2">
                        <div class="btn btn-light minus p-1" data-item_id="{{ item.item_id }}" id="minus-{{ item.item_id }}">
                            <span class="icon">
                                <i class="fas fa-minus"></i>
                            </span>
                        </div>
                        <input type="number" value="{{ item.quantity }}" min="1" max="99"
                            name="quantity" class="text-center rounded-0 qty"
                            data-item_id="{{ item.item_id }}" id="qty-{{ item.item_id }}">
                        <div class="btn btn-light plus p-1" data-item_id="{{ item.item_id }}" id="plus-{{ item.item_id }}">
                            <span class="icon">
                                <i class="fas fa-plus"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-between p-0">
                    <a class="update"><small>Update</small></a>
                    <a class="remove-link" data-toggle="modal" data-target="#confirm-remove-{{ item.item_id }}"><small>Remove</small></a>
                </div>
            </form>           
        </div>
        <!-- product name and brand -->
        <div class="col-6 col-md-3 d-flex flex-column align-items-center justify-content-center order-md-2">
            <a href="{% url 'product_detail' item.product.id %}">
                {{ item.product.name }}
            </a>
            <a href="{% url 'products' %}?brand={{ product.brand.name }}">
                <span class="icon">
                    <i class="fa-solid fa-tags"></i>
                </span>
                {{ item.product.brand.friendly_name }}
            </a>
        </div>
        <!-- line price -->
        <div class="col-6 col-md-3 d-flex flex-column align-items-center justify-content-center order-md-4">
            <span class="line-price">
                £{{ item.item_total | floatformat:2 }}
            </span>
            <small>£{{ item.product.price }} each</small>
        </div>
    </div>
    <hr class="w-50">
    <!-- Confirm Delete Modal -->
    <div class="modal fade" id="confirm-remove-{{ item.item_id }}" tabindex="-1" aria-labelledby="remove-modal-{{ item.item_id }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="remove-modal-{{ item.item_id }}">Confirm Remove</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to remove {{ item.product.name }} from your shopping basket?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-accent" data-dismiss="modal">
                        <span class="icon">
                            <i class="fa-solid fa-xmark"></i>
                        </span>
                        Cancel
                    </button>
                    <a class="btn btn-dark remove" id="remove-{{ item.item_id }}">
                        Remove
                        <span class="icon">
                            <i class="fa-solid fa-trash-can"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="row mb-3 d-flex flex-row-reverse">
        <div class="col-6 col-md-4 d-flex align-items-center justify-content-center font-weight-bold">
            Total: £{{ total }}
        </div>
    </div>
    {% else %}
    <h3 class="text-center">Your basket is currently empty!</h3>
    {% endif %}
</div>

<div class="container-fluid">
    <div class="row d-flex justify-content-around mb-2">
        {% if basket_items|length > 0 %}
        <div class="col-12 col-sm-6 text-center order-sm-2">
            <a href="{% url 'checkout' %}" class="btn btn-dark my-2">
                Go To Checkout
                <span class="icon">
                    <i class="fas fa-chevron-right"></i>
                </span>
            </a>
        </div>
        {% endif %}  
        <div class="col-12 col-sm-6 text-center order-sm-1">
            <a href="{% url 'products' %}" class="btn btn-accent my-2">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                Keep Shopping
            </a>
        </div>
    </div> 
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script>
    $('.remove').click(function (e) {
        console.log('clicked')
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove-')[1];
        var url = `/basket/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken}

        $.post(url, data)
        .done(function(){
            location.reload();
        });
    });
</script>
{% endblock %}