/* General */
body {
    min-height: 100vh;
    font-family: 'Nunito', sans-serif;
    color: #0D0D2F;
}

h1, h2, h3, h4, h5 {
    font-family: 'PT Serif', serif;
}

.hidden {
    display: none;
}

/* Custom Colours */
.theme-light {
    background-color: #FFFAEB;
    color: #0D0D2F;
}

.theme-light a {
    color: #0D0D2F;
}

.light {
    color: #FFFAEB;
}

.theme-dark {
    background-color: #0D0D2F;
    color: #FFFAEB;
}

/* Custom Buttons */
.btn-light {
    background-color: unset;
    color: #0D0D2F;
    border: none;
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active,
.btn-light:not(:disabled):not(.disabled):active {
    background-color: rgba(0, 0, 0, 0.1);
    color: #0D0D2F;
    border: none;
}

.btn-dark {
    color: #FFFAEB;
    background-color: #0D0D2F80;
    border: none;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark:not(:disabled):not(.disabled):active {
    color: #FFFAEB;
    background-color: #0D0D2Fc9;
    border: none;
}

/* ---------- BASE.HTML ---------- */
/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Navbar */
.nav-spacer, .navbar {
    width: 100%;
    height: 70px;
}

.navbar i {
    font-size: large;
}

/* Menu Modal */
.menu .modal-body {
    padding: 0.5rem 1rem;
}

.menu .modal-dialog, .menu .modal-content {
    height: 100vh;
    margin: 0;
    max-width: 300px;
    max-height: unset;
    left: -1px;
}

.menu .close {
    color: inherit;
}

.form-control:focus {
    box-shadow: unset;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 0.5rem;
    clear: both;
    color: inherit;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 1rem;
    line-height: 1.5;
    opacity: 1;
}

.dropdown-item:focus,
.dropdown-item:hover,
.dropdown-item:active,
.dropdown-item.close:focus,
.dropdown-item.close:hover,
.dropdown-item.close:active {
    color: inherit;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    text-shadow: unset;
}

.close:not(:disabled):not(.disabled):hover {
    opacity: 1;
}

.spacer {
    margin-left: 20px;
}

.collapse {
    background-color: rgba(150, 150, 150, 0.2);
}

/* ---------- INDEX.HTML ---------- */
.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Carousel */
.carousel-item {
    width: 100%;
    height: 50vh;
}

.carousel-caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    top: 10%;
    bottom: unset;
    padding: 20px;
    background-color: #0D0D2F56;
    border-radius: 20px;
}

.img-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0D0D2F;
}

.img-cont img {
    opacity: 30%;
}

/* ---------- PRODUCTS.HTML ---------- */
.product-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.product-container a, .product-container a:hover {
    color: #0D0D2F;
}

.product-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-link {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.category-links {
    display: flex;
    flex-direction: column;
}

.btt-btn {
    z-index: 2;
    position: fixed;
    display: inline-block;
    bottom: 10px;
    right: 10px;
    height: 4rem;
    width: 4rem;
    border: 2px solid #FFFAEB;
    border-radius: 50%;
    background-color: #5a54509c;
}

.btt-btn .icon {
    height: 100%;
}

.btt-btn:hover {
    cursor: pointer;
}

.btt-btn:hover,
.btt-btn:focus,
.btt-btn:active,
.btt-btn:not(:disabled):not(.disabled):active {
    border: 2px solid #FFFAEB;
    background-color: #5a5450;
}