/* General */
body {
    min-height: 100vh;
    font-family: 'Nunito', sans-serif;
    color: #0D0D2F;
}

a {
    color: #0D0D2F;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

a:hover {
    color: #5a5450;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'PT Serif', serif;
}

.hidden {
    display: none;
}

/* Custom Colours */
.theme-light {
    background-color: #FFFAEB;
    color: #0D0D2F;
}

.theme-light a {
    color: #0D0D2F;
}

.light {
    color: #FFFAEB;
}

.theme-dark {
    background-color: #0D0D2F;
    color: #FFFAEB;
}

.theme-accent {
    background-color: #5a5450;
    color: #FFFAEB;
}

/* Custom Buttons */
.btn-light {
    background-color: unset;
    color: #0D0D2F;
    border: none;
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active,
.btn-light:not(:disabled):not(.disabled):active {
    background-color: rgba(0, 0, 0, 0.1);
    color: #0D0D2F;
    border: none;
}

.btn-dark {
    color: #FFFAEB;
    background-color: #0D0D2F80;
    border: none;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark:not(:disabled):not(.disabled):active {
    color: #FFFAEB;
    background-color: #0D0D2Fc9;
    border: none;
}

.btn-accent {
    color: #FFFAEB;
    background-color: #5a54509c;
    border: none;
}

.btn-accent:hover,
.btn-accent:focus,
.btn-accent:active,
.btn-accent:not(:disabled):not(.disabled):active {
    color: #FFFAEB;
    background-color: #5a5450;
    border: none;
}

.btn.disabled {
    color: unset;
    cursor: unset;
    background-color: unset;
}

.disabled:hover,
.disabled:focus,
.diabled:active,
.disabled:not(:disabled):not(.disabled):active {
    color: unset;
    background-color: unset;
    border: none;
    cursor: unset;
}

/* ---------- BASE.HTML ---------- */
/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Navbar */
.nav-spacer,
.navbar {
    width: 100%;
    height: 70px;
}

.navbar i {
    font-size: large;
}

.basket {
    position: relative;
}

.item-count {
    font-size: x-small;
    font-weight: bolder;
    background-color: #5a5450;
    color: #FFFAEB;
    border-radius: 50%;
    padding: 1px 3px;
    position: absolute;
    min-width: 15px;
    min-height: 15px;
    top: -2px;
    right: -2px;
}

.message-container {
    position: fixed;
    top: 70px;
    right: 10px;
    z-index: 999999999;
    max-width: 90vw;
}

/* ---------- NAV-MENU.HTML ---------- */
.menu .modal-body {
    padding: 0.5rem 1rem;
}

.menu .modal-dialog,
.menu .modal-content {
    height: 100vh;
    margin: 0;
    max-width: 300px;
    max-height: unset;
    left: -1px;
}

.menu .close {
    color: inherit;
}

.form-control:focus {
    box-shadow: unset;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 0.5rem;
    clear: both;
    color: inherit;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 1rem;
    line-height: 1.5;
    opacity: 1;
}

.dropdown-item:focus,
.dropdown-item:hover,
.dropdown-item:active,
.dropdown-item.close:focus,
.dropdown-item.close:hover,
.dropdown-item.close:active {
    color: inherit;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    text-shadow: unset;
}

.close:not(:disabled):not(.disabled):hover {
    opacity: 1;
}

.spacer {
    margin-left: 20px;
}

.collapse {
    background-color: rgba(150, 150, 150, 0.2);
}

/* ---------- INDEX.HTML ---------- */
.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Carousel */
.carousel-item {
    width: 100%;
    height: 50vh;
}

.carousel-caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    top: 10%;
    bottom: unset;
    padding: 20px;
    background-color: #5a545056;
    border-radius: 20px;
}

.img-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5a5450;
}

.img-cont img {
    opacity: 30%;
}

/* ---------- PRODUCTS.HTML ---------- */
.product-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.product-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-link {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.category-links {
    display: flex;
    flex-direction: column;
}

.btt-btn {
    z-index: 2;
    position: fixed;
    display: inline-block;
    bottom: 10px;
    right: 10px;
    height: 4rem;
    width: 4rem;
    border: 2px solid #FFFAEB;
    border-radius: 50%;
    background-color: #5a54509c;
}

.btt-btn .icon {
    height: 100%;
}

.btt-btn:hover {
    cursor: pointer;
}

.btt-btn:hover,
.btt-btn:focus,
.btt-btn:active,
.btt-btn:not(:disabled):not(.disabled):active {
    border: 2px solid #FFFAEB;
    background-color: #5a5450;
}

/* ---------- PRODUCT_DETAIL.HTML ---------- */
.product-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.qty-group {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.qty {
    width: 3rem;
    border: none;
}

.qty:focus-visible {
    outline: none;
}

.minus {
    border-radius: 3px 0 0 3px;
}

.plus {
    border-radius: 0 3px 3px 0;
}

.related-products .carousel-item {
    height: 250px;
}

.related-products .carousel-caption {
    background-color: unset;
    padding: 0;
}

.related-products button {
    color: #0D0D2F80;
}

.related-products button:hover,
.related-products button:focus {
    color: #0D0D2Fc9;
}

.related-products .img-container {
    height: 140px;
}

.related-products img {
    max-width: 100%;
    max-height: 100%;
}

/* ---------- BASKET.HTML ---------- */
.basket-items .img-container {
    height: 120px;
}

.basket-items img {
    max-width: 100%;
    max-height: 100%;
}

.remove-link {
    color: red;
}

.remove-link:hover {
    color: rgb(175, 0, 0);
}

/* ---------- CHECKOUT.HTML ---------- */
legend {
    font-size: 1.25rem;
}

.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    margin: 0 0 0.5rem 0;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 1px 3px 0 #cfd7df;
    border: 2px solid #0D0D2F;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #0D0D2F;
}

select, select option {
    color: #0D0D2F;
}

select:invalid, 
select option[value=""] {
    color: #aab7c4 !important;
}

.name-group {
    flex-direction: column;
}

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0d0d2f55;
    z-index: 9999;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
    color: #FFFAEB;
}

/* ---------- CHECKOUT_SUCCESS.HTML ---------- */
.word-wrap {
    word-wrap: break-word;
}

/* ---------- PROFILE.HTML ---------- */
#id_default_country,
#id_default_country option:not(:first-child) {
    color: #0d0d2f;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

.order-history .dropdown-toggle {
    white-space: unset;
    text-align: left;
}

.order-history .dropdown-toggle::after {
    display: none;
}

.order-history .dropdown-menu.show {
    float: unset;
    position: relative;
    translate: unset;
}

@media (min-width: 576px) {
    .name-group {
        flex-direction: row;
        justify-content: space-between;
    }

    #div_id_first_name, #div_id_last_name {
        width: 47%;
    }
}

@media (min-width: 768px) {
    .order-history {
        max-height: 428px;
        overflow-y: auto;
    }
}