{% load static %}
<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&family=PT+Serif&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/1704febde4.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
        crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'js/script.js' %}" type="text/javascript"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Pencil + Paper {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <!-- Nav Bar -->
    <nav class="navbar theme-light fixed-top">
        <button type="button" class="btn btn-light" data-toggle="modal" data-target="#menu-modal" aria-label="menu">
            <i class="fa-solid fa-bars"></i>
        </button>
        <a href="{% url 'home' %}" class="navbar-brand m-0 d-sm-none">
            <h2>P + P</h2>
        </a>
        <a href="{% url 'home' %}" class="navbar-brand m-0 d-none d-sm-inline">
            <h2>Pencil + Paper</h2>
        </a>
        <a href="{% url 'view_basket' %}" class="btn btn-light basket" aria-label="basket">
            <i class="fa-solid fa-basket-shopping"></i>
            {% if total > 0 %}
            <div class="item-count">
                {{ product_count }}
            </div>
            {% endif %}
        </a>
    </nav>

    <div class="nav-spacer"></div>

    {% include 'includes/nav-menu.html' %}

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <footer class="container-fluid w-100 theme-dark">
        <div class="row m-0 p-0">
            <div class="col-12 col-md-6 offset-md-3 p-4">
                <h3 class="text-center">
                    Find Us Online
                </h3>
                <p class="text-center p-3">If you want to find out more about us online, please visit us at our social media pages where you can follow to receive the latest updates from the store including new ranges and offers, as well as day to day store updates.</p>
                <div class="social-links row">
                    <div class="col-6 offset-3 d-flex flex-row justify-content-center align-items-center">
                        <a class="text-center light px-4" href="https://www.facebook.com/" target="_blank">
                            <span class="icon">
                                <i class="fa-brands fa-facebook"></i>
                            </span>
                            <span class="sr-only">Facebook</span>
                        </a>
                        <a class="text-center light px-4" href="https://twitter.com/" target="_blank">
                            <span class="icon">
                                <i class="fa-brands fa-x-twitter"></i>
                            </span>
                            <span class="sr-only">Twiiter/X</span>
                        </a>
                        <a class="text-center light px-4" href="https://www.instagram.com/" target="_blank">
                            <span class="icon">
                                <i class="fa-brands fa-instagram"></i>
                            </span>
                            <span class="sr-only">Facebook</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-0 p-0 text-center">
            <div class="col">
                <p>
                    Site built for educational purposes only
                </p>
                <p>
                    Paul Woods - 2024
                </p>
            </div>
        </div>
    </footer>

    {% block postloadjs %}
    <script>
        $('.toast').toast('show');
    </script>
    {% endblock %}
</body>
    
</html>