{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
| Products
{% endblock %}

{% block page_header %}
<div class="container-fluid text-center">
    <h2 class="mt-2">Products</h2>
    <hr class="w-50">
    {% if current_brand %}
    <div class="row text-center">
        <div class="col-12 col-md-6 offset-md-3">
            <h3>{{ current_brand.friendly_name }}</h3>
            <p>{{ current_brand.description }}</p>
        </div>
    </div>
    <hr class="w-50">
    {% endif %}
</div>
{% endblock %}

{% block content %}
<div class="container text-center">
    <div class="row">
        <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
            <div class="sort-select-wrapper w-5">
                <select id="sort-selector">
                    <option value="reset" {% if current_sortingv == 'None_None' %}selected{% endif %}>Sort by...</option>
                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)
                    </option>
                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                    <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                    <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                    <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)
                    </option>
                </select>
            </div>
        </div>
        <div class="col-12 col-md-6 order-md-first">
            <p class="text-muted mt-3 text-center text-md-left">
                {{ products|length }} Products 
                {% if search_term %} found for <strong>"{{ search_term }}"</strong>
                {% elif current_category %} found in <strong>"{{ current_category.friendly_name }}"</strong>
                {% elif current_subcat %} found in <strong>"{{ current_subcat.friendly_name }}"</strong>
                {% elif current_brand %} found in <strong>"{{ current_brand.friendly_name }}"</strong>
                {% endif %}
            </p>
        </div>
    </div>
    <div class="row">
        {% for product in products %}
        <div class="product-container col-12 col-sm-6 col-md-4 col-lg-3 my-1">
            {% if product.is_liked %}
            <div class="wish-list">
                <a class="icon liked" href="{% url 'wish_list' product.id %}">
                    <i class="fa-solid fa-heart"></i>
                </a>
            </div>
            {% else %}
            <div class="wish-list">
                <a class="icon" href="{% url 'wish_list' product.id %}">
                    <i class="fa-regular fa-heart"></i>
                </a>
            </div>
            {% endif %}
            <div class="card product-card border-0 text-center pb-3 px-3">
                <a href="{% url 'product_detail' product.id %}" class="product-link">
                    <div class="card image-card border-0">
                        {% if product.image %}
                        <img src="{{ MEDIA_URL }}{{ product.image }}" alt="{{ product.name }}" class="p-4">
                        {% else %}
                        <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}" class="p-4">
                        {% endif %}
                    </div>
                    <div class="product-text">
                        <h5 class="mb-1">{{ product.name }}</h5>
                        <p class="mb-1">£{{ product.price|floatformat:2 }}</p>
                    </div>
                </a>
                <div class="category-links">
                    <span>
                        <a href="{% url 'products' %}?category={{ product.sub_category.category.name }}">
                            {{ product.sub_category.category.friendly_name }}
                        </a> / 
                        <a href="{% url 'products' %}?sub_category={{ product.sub_category.name }}">
                            {{ product.sub_category.friendly_name }}
                        </a>
                    </span>
                    {% if product.brand %}
                    <a href="{% url 'products' %}?brand={{ product.brand.name }}">
                        <span class="icon">
                            <i class="fa-solid fa-tags"></i>
                        </span>
                        {{ product.brand.friendly_name }}
                    </a>
                    {% else %}
                    <span>&nbsp;</span>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% if search_term or current_brand or current_category or current_subcat %}
<div class="container-fluid text-center">
    <a href="{% url 'products' %}" class="btn btn-accent my-2">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        All Products
    </a>
</div>
{% endif %}
<div class="container-fluid pb-3">
    <div class="btt-btn btn btn-dark">
        <span class="icon">
            <i class="fas fa-chevron-up"></i>
        </span>
    </div>
</div>
{% endblock %}