{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
| {{ product.name }}
{% endblock %}

{% block page_header %}
<div class="container-fluid text-center">
    <h2 class="mt-2">{{ product.name }}</h2>
    <hr class="w-50">
</div>
{% endblock %}

{% block content %}
<div class="container text-center">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card image-card border-0">
                {% if product.image %}
                <img src="{{ MEDIA_URL }}{{ product.image }}" alt="{{ product.name }}" class="p-4">
                {% else %}
                <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}" class="p-4">
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="product-text px-4 pb-4 p-md-4">
                <h3>£{{ product.price|floatformat:2 }}</h3>
                <p>{{ product.description }}</p>
                <p>
                    <a href="{% url 'products' %}?category={{ product.sub_category.category.name }}">{{ product.sub_category.category.friendly_name }}</a> / 
                    <a href="{% url 'products' %}?sub_category={{ product.sub_category.name }}">{{ product.sub_category.friendly_name }}</a>
                </p>
                <p>
                    <a href="{% url 'products' %}?brand={{ product.brand.name }}">{{ product.brand.friendly_name }}</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}