{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
| {{ product.name }}
{% endblock %}

{% block page_header %}
<div class="container-fluid text-center">
    <h2 class="mt-2">{{ product.name }}</h2>
    <hr class="w-50">
</div>
{% endblock %}

{% block content %}
<div class="container text-center">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card image-card border-0">
                <img src="{{ MEDIA_URL }}{{ product.image }}" alt="{{ product.name }}" class="p-4">
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="product-text px-4 pb-4 p-md-4">
                <h3>£{{ product.price|floatformat:2 }}</h3>
                <span>{{ product.description }}</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}